AWS_PROFILE=
AWS_REGION=us-east-1

AWS_CORPUS_BUCKET_NAME=
AWS_PACKET_BUCKET_NAME=

DOSIMETER_MODELS__REASONING=
DOSIMETER_MODELS__FAST=
DOSIMETER_MODELS__EMBEDDING=
DOSIMETER_MODELS__MULTIMODAL=
DOSIMETER_MODELS__JUDGE=

DOSIMETER_KNOWLEDGE_BASE_ID=
DOSIMETER_GUARDRAIL_ID=

DOSIMETER_CORPUS_BUCKET=
DOSIMETER_PACKET_BUCKET=

DOSIMETER_DB_HOST=
DOSIMETER_DB_NAME=dosimeter
DOSIMETER_DB_USER=
